:root {
  --color: rgb(189, 203, 255);
  --background-color: rgb(51, 68, 153);
  --win-color: var(--color);
  --win-background-color: rgb(0, 0, 128);
  --win-border-color: rgb(0, 0, 200);
  --cell-border-color: rgb(173, 216, 230);
  --sunk-color: rgb(107, 107, 253);
  --container-color: rgb(16, 16, 64);
  --container-shadow-color: var(--cell-border-color);
  --container-background-color: rgb(243, 243, 255);
  --notify-color: var(--color);
  --notify-background-color: rgb(126, 29, 29);
  --notify-border-color: rgb(255, 51, 51);
}
* {
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: sans-serif;
  height: 100%;
  width: 100%;
  font-size: 14pt;
}

#main_container {
  background-color: var(--background-color);
  color: var(--color);
  text-align: center;
  height: 100%;
}

#banner {
  font-size: 48pt;
  padding: 0.25em;
  margin-bottom: .25em;
  border-bottom-style: double;
  border-width: 15px;

  & div.subtitle {
    font-size: 16pt;
  }
}

#field-container {
  display: inline-grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);

  & .cell {
    font-size: x-large;
    border: solid thin var(--cell-border-color);
    cursor: not-allowed;
  }

  & input[type=button].cell {
    padding: 0;
    cursor: crosshair;
    border: solid thin var(--background-color);
  }

  & .cell:disabled {
    cursor: not-allowed;
  }

  & .cell-label {
    padding-top: 1em;
    text-align: center;
    vertical-align: middle;
    background-color: black;
    color: white;
  }
}

#status-container {
  display: inline-grid;
  text-align: start;
  column-gap: 0.5em;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: repeat(8, 1fr);
  /*margin-left: 2em;*/
  padding: .5em 1em;
  opacity: 85%;

  & label {
    padding-right: 0.5em;
  }

  & hr {
    height: 1px;
  }

  & img {
    width: 48pt;
  }
}

#win {
  display: none;
  margin: 1em 0;
  padding: 0.25em;
  color: var(--win-color);
  background-color: var(--win-background-color);
  border-width: 5px;
  border-radius: 15px;
  border-style: solid;
  border-color: var(--win-border-color);

  & .big-win {
    font-size: 48pt;
  }

  &.no-win {
    display: none;
  }

  &.win {
    display: block;
  }
}

.summary {
  &.sunk {
    color: var(--sunk-color);
    text-decoration: line-through;
  }
}

.container {
  background-color: var(--container-background-color);
  box-shadow: 0 0 0 .125em var(--container-shadow-color);
  color: var(--container-color);
  border-radius: 5px;
  padding: 0.125em;
}

.notify {
  color: var(--notify-color);
  background-color: var(--notify-background-color);
  display: none;
  position: relative;
  overflow: clip;
  word-break: keep-all;
  width: 0;
  height: 1lh;
  border-radius: 15px;
  margin-top: 1em;
}

.notify-animate {
  border: solid thin var(--notify-border-color);
  display: inline-block;
  padding: 0.25em;
  animation-duration: 2s;
  animation-name: notify-animate;
}

@keyframes notify-animate {
  from {
    width: 0;
    opacity: 0;
    left: 50%;
  }
  20% {
    width: 100%;
    opacity: 100%;
    left: 0;
  }
  99.9% {
    width: 100%;
    opacity: 100%;
    left: 0;
  }
  to {
    width: 0;
    opacity: 0;
    left: 50%;
  }
}
